services:
  django:
    image: sumitjain12june/django-app:latest
    container_name: django_app
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - django